@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model dotNetCoreMVC4Turkcell.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <form method="post">
        <p>
            <input asp-for="UserName" placeholder="Kullanıcı Adı"  />
            <span asp-validation-for=UserName ></span>
        </p>
        <p>
            <input asp-for="Email" placeholder="Eposta"  />
            <span asp-validation-for=Email ></span>
        </p>
        <p>     
            <input asp-for="Birthdate" placeholder="Doğum Tarihi"  />
            <span asp-validation-for=Birthdate ></span>
        </p>
        <button type="submit" >Gönder</button>
    </form>
</body>
</html>
