
@model User
@{
    Layout = "_Layout";
}


    <form method="post">
        <p>
            <label asp-for="UserName"></label>
            <input asp-for="UserName" placeholder="Kullanıcı Adı"  />
            <span asp-validation-for=UserName ></span>
        </p>
        <p>
            <input asp-for="Email" placeholder="Eposta"  />
            <span asp-validation-for=Email ></span>
        </p>
        <p>     
            <input asp-for="Birthdate" placeholder="Doğum Tarihi"  />
            <span asp-validation-for=Birthdate ></span>
        </p>
        <button type="submit" >Gönder</button>
    </form>
