
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <form method="post">
        <p>
            <input type="text" name="UserName" value="" placeholder="Kullanıcı Adı"  />
        </p>
        <p>
            <input type="email" name="Email" value="" placeholder="Eposta"  />
        </p>
        <p>
            <input type="datetime-local" name="BirthDate" value="" placeholder="Doğum Tarihi"  />
        </p>
        <button type="submit" >Gönder</button>
    </form>
</body>
</html>
